<h1>Admin </h1>
    <div>
        <strong>id: </strong>
        <%= @user.id %>
    </div>
    <div>
        <strong>email: </strong>
        <%= @user.email %>
    </div>
    <div>
        <strong>created at: </strong>
        <%= @user.created_at %>
    </div>
    <div>
        <strong>updated at: </strong>
        <%= @user.updated_at %>
    </div>
    <br>
<%= link_to "<< Go back home", root_path %>