<%= form_with model: @book do |form|%>
    <div>
        <%= form.label :name%>
        <%= form.text_field :name %>
        <% @book.errors.full_messages_for(:name).each do |message| %>
            <div class="error">* <%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label :image%>
        <%= form.file_field :image %>
        <% @book.errors.full_messages_for(:image).each do |message| %>
            <div class="error">* <%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label :price%>
        <%= form.number_field :price, in: 1.0..20000.0 %>
        <% @book.errors.full_messages_for(:price).each do |message| %>
            <div class="error">* <%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label :description%>
        <%= form.text_area :description %>
        <% @book.errors.full_messages_for(:description).each do |message| %>
            <div class="error">* <%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>
<br>
<%= link_to "<< Home", root_path%>