<h1>Books</h1>
<% unless !current_user.is_admin %>
    <%= link_to "Create a new book", new_book_path%>
<% end %>
<% if@books.count>0 %>
    <table id="books">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Description</th>
            <th>created at</th>
            <th>updated at</th>
            <th>created by</th>
            <th>Actions</th>
        </tr>
        <% @books.each do |book| %>
        <tr>
            <td>
                <%= book.name %> 
            </td>
            <td>
                <%= image_tag(book.image, {:style => "height:100px;"}) %>
            </td>
            <td>
                <%= book.price %> L.E
            </td>
            <td>
                <%= book.description %> 
            </td>
            <td>
                <%= book.created_at %> 
            </td>
            <td>
                <%= book.updated_at %> 
            </td>
            <td>
                <%= link_to book.user.email, show_user_path(book.user) %> 
            </td>
            <td>
            <ul>
            <% unless !current_user.is_admin %>
                <li><%= link_to "Edit", edit_book_path(book) %></li>
                <li><%= link_to "Destroy", (book), data: {
                    method: :delete,
                            confirm: "Are you sure?"
                        } %></li>
            <% end %>
                <li><%= link_to "Show", book_path(book) %></li>
            </ul>
            </td>
        </tr>
        <% end %>
    </table>
<%end%>