<h1>Books</h1>
<% unless !current_user.is_admin %>
    <%= link_to "Create a new book", new_book_path%>
<% end %>

<% @books.each do |book| %>
    <p>
        <strong>Name: </strong>
        <%= book.name %> 
    </p>
    <p>
        <strong>image: </strong>
        <%= image_tag(book.image, {:style => "height:200px;"}) %>
    </p>
    <p>
        <strong>price: </strong>
        <%= book.price %> L.E
    </p>
    <p>
        <strong>description: </strong>
        <%= book.description %> 
    </p>
    <p>
        <strong>created at: </strong>
        <%= book.created_at %> 
    </p>
    <p>
        <strong>updated at: </strong>
        <%= book.updated_at %> 
    </p>
    <p>
        <strong>created by: </strong>
        <%= link_to book.user.email, show_user_path(book.user) %> 
    </p>
    <ul>
    <% unless !current_user.is_admin %>
        <li><%= link_to "Edit", edit_book_path(book) %></li>
        <li><%= link_to "Destroy", (book), data: {
            method: :delete,
                    confirm: "Are you sure?"
                  } %></li>
    <% end %>
        <li><%= link_to "Show", book_path(book) %></li>
    </ul>
<hr/>
<% end %>