<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <header>
    <% if current_user %>
      <ul>
        <li><%= link_to "Admin Panel", rails_admin_path%></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
      </ul>
    <% end %>
  </header>
  
    <%= yield %>
  </body>
</html>
